html, body {
    height: 100%;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
    margin: 0;
}

.App {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-color: #FFF1D5;
    flex-direction: column;
}

#root {
    height: 100%;
}

.App-header {
    background-color: #FED18C;
    color: #C28C49;
}

h2 {
    padding: 0;
    margin: 0;
    display: inline-block;
    float: left;
    vertical-align: middle;
    line-height: 70px;
    padding: 0 30px 0 30px;
}

nav {
    display: inline-block;
    float: right;
    vertical-align: middle;
    cursor: pointer;
    line-height: 70px;
    padding: 0 30px 0 30px;
    background-color: #FE654F;
    color: white;
}

.body-container {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    width: 400px;
    color: #C28C49;
    background-color: #FED18C;
}

.game-header {
    padding: 10px;
    background-color: #F1C076;
}

.game-body {
}

.game-footer {
    padding: 10px;
    min-height: 41px;
    background-color: #F1C076;
}

.guess-history-single {
    background-color: #C28C49;
    width: 20px;
    padding: 5px;
    margin: 3px;
    color: #FFE7C2;
    display: inline-block;
    border-radius: 3px;
}

#form-guess {
    padding: 10px;
}

#number-attempts {
    padding: 10px;
}

#guess-input {
    margin: 10px auto 10px auto;
    width: 50%;
    padding: 10px;
    display: inline-block;
}

#guess-submit {
    margin: 10px auto 10px auto;
    padding: 10px;
    display: inline-block;
    width: 50%;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background-color: #FE654F;
    border: 0;
    color: #fff;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="number"] {
    text-align: center;
    color: #C28C49;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}