html, body {
    height: 100%;
    text-align: center;
}

body {
    margin: 0;
}

.App {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-color: #DDECF1;
    flex-direction: column;
}

#root {
    height: 100%;
}

.App-logo {
}

.App-header {
    background-color: #222;
    padding: 10px;
    color: white;
}

.body-container {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    background-color: green;
    width: 400px;
}

.subheader-container {
    background-color: #B4B4DB;
}

.game-header {
    background-color: #E6C6C6;
    padding: 10px;
}

.game-body {
    background-color: #F3E6E6;
    flex-grow: 1;
}

.game-footer {
    background-color: #CBBABA;
    padding: 10px;
}

.guess-history-single {
    background-color: #D08A8A;
    width: 20px;
    padding: 5px;
    margin: 3px;
    color: white;
    display: inline-block;
}

#form-guess {
    padding: 10px;
}

#number-attempts {
    padding: 10px;
}

#guess-input {
    margin: 10px auto 10px auto;
    width: 50%;
    padding: 10px;
    display: inline-block;
}

#guess-submit {
    margin: 10px auto 10px auto;
    padding: 10px;
    display: inline-block;
    width: 50%;
}