html, body {
    height: 100%;
    text-align: center;
}

body {
    margin: 0;
}

.App {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-color: #DDECF1;
    flex-direction: column;
}

#root {
    height: 100%;
}

.App-logo {
}

.App-header {
    background-color: #222;
    padding: 10px;
    color: white;
}

.body-container {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    background-color: green;
    min-width: 400px;
}

.subheader-container {
    background-color: #B4B4DB;
}

.game-header {
    background-color: #E6C6C6;
    padding: 10px;
}

.game-body {
    background-color: #F3E6E6;
    padding: 10px;
    flex-grow: 1;
}

.game-footer {
    background-color: #CBBABA;
    padding: 10px;
}